Src/Authoring/Source/WorkflowDesign/GeneratedCode/WorkflowDesignSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="WorkflowDesignSchema" targetNamespace="http://schemas.microsoft.com/visualstudio/patterning/authoring/workflowdesign" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/visualstudio/patterning/authoring/workflowdesign" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- VariabilityRequirement -->
  <xsd:element name="variabilityRequirement" type="VariabilityRequirement" substitutionGroup="designElement" />
  <xsd:complexType name="VariabilityRequirement">
    <xsd:annotation>
      <xsd:documentation>A requirement for a point of variability in the product line.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DesignElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ParentVariabilityRequirementHasParentVariabilityRequirements -->
          <xsd:element name="variabilityRequirements" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ParentVariabilityRequirementHasParentVariabilityRequirements</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="parentVariabilityRequirementHasParentVariabilityRequirements" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ParentVariabilityRequirementHasParentVariabilityRequirements needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VariabilityRequirement Moniker -->
  <xsd:element name="variabilityRequirementMoniker" type="VariabilityRequirementMoniker" substitutionGroup="designElementMoniker" />
  <xsd:complexType name="VariabilityRequirementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VariabilityRequirement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DesignElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProducedAsset -->
  <xsd:element name="producedAsset" type="ProducedAsset" substitutionGroup="asset" />
  <xsd:complexType name="ProducedAsset">
    <xsd:annotation>
      <xsd:documentation>An asset that is produced by a production tool.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Asset">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ProducedAssetSuppliesProductionTools -->
          <xsd:element name="productionTools" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ProducedAssetSuppliesProductionTools</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="producedAssetSuppliesProductionTools" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ProducedAssetSuppliesProductionTools needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: IsFinal -->
        <xsd:attribute name="isFinal" type="xsd:boolean" >
          <xsd:annotation>
            <xsd:documentation>Whether the asset is part of the final delivered product.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProducedAsset Moniker -->
  <xsd:element name="producedAssetMoniker" type="ProducedAssetMoniker" substitutionGroup="assetMoniker" />
  <xsd:complexType name="ProducedAssetMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ProducedAsset instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AssetMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProductionTool -->
  <xsd:element name="productionTool" type="ProductionTool" substitutionGroup="designElement" />
  <xsd:complexType name="ProductionTool">
    <xsd:annotation>
      <xsd:documentation>A tool that is supplied assets that produces more assets.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DesignElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ProductionToolReferencesVariabilityRequirements -->
          <xsd:element name="variabilityRequirements" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ProductionToolReferencesVariabilityRequirements</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="productionToolReferencesVariabilityRequirements" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ProductionToolReferencesVariabilityRequirements needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ProductionToolProducesProducedAssets -->
          <xsd:element name="producedAssets" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ProductionToolProducesProducedAssets</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="productionToolProducesProducedAssets" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ProductionToolProducesProducedAssets needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Classification -->
        <xsd:attribute name="classification" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The intended classification of this tool, defining how it processes and produces its assets.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProductionTool Moniker -->
  <xsd:element name="productionToolMoniker" type="ProductionToolMoniker" substitutionGroup="designElementMoniker" />
  <xsd:complexType name="ProductionToolMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ProductionTool instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DesignElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SuppliedAsset -->
  <xsd:element name="suppliedAsset" type="SuppliedAsset" substitutionGroup="asset" />
  <xsd:complexType name="SuppliedAsset">
    <xsd:annotation>
      <xsd:documentation>An asset that is supplied to a production tool.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Asset">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SuppliedAssetCopiesToProducedAssets -->
          <xsd:element name="producedAssets" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SuppliedAssetCopiesToProducedAssets</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="suppliedAssetCopiesToProducedAssets" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SuppliedAssetCopiesToProducedAssets needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: SuppliedAssetSuppliesProductionTools -->
          <xsd:element name="productionTools" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SuppliedAssetSuppliesProductionTools</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="suppliedAssetSuppliesProductionTools" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SuppliedAssetSuppliesProductionTools needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: IsUserSupplied -->
        <xsd:attribute name="isUserSupplied" type="xsd:boolean" >
          <xsd:annotation>
            <xsd:documentation>Whether this asset is supplied by the user as configuration to the product, or a supplied artifact as input to the product line.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SuppliedAsset Moniker -->
  <xsd:element name="suppliedAssetMoniker" type="SuppliedAssetMoniker" substitutionGroup="assetMoniker" />
  <xsd:complexType name="SuppliedAssetMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SuppliedAsset instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AssetMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asset -->
  <xsd:element name="asset" abstract="true" type="Asset" substitutionGroup="designElement" />
  <xsd:complexType name="Asset" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>A supplied or fabricated asset in the product line.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DesignElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: SourceReference -->
        <xsd:attribute name="sourceReference" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>A reference to a known physical artifact that is represented by this asset.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asset Moniker -->
  <xsd:element name="assetMoniker" abstract="true" type="AssetMoniker" substitutionGroup="designElementMoniker" />
  <xsd:complexType name="AssetMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Asset instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DesignElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Design -->
  <xsd:element name="design" type="Design" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Design">
    <xsd:annotation>
      <xsd:documentation>A production line design.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: DesignHasProductionTools -->
          <xsd:element name="productionTools" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DesignHasProductionTools</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="designHasProductionTools" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DesignHasProductionTools needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: DesignHasAssets -->
          <xsd:element name="assets" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DesignHasAssets</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="designHasAssets" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DesignHasAssets needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: DesignHasVariabilityRequirements -->
          <xsd:element name="variabilityRequirements" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DesignHasVariabilityRequirements</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="designHasVariabilityRequirements" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DesignHasVariabilityRequirements needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Design Moniker -->
  <xsd:element name="designMoniker" type="DesignMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DesignMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Design instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElementSchema -->
  <xsd:element name="namedElementSchema" abstract="true" type="NamedElementSchema" substitutionGroup="core:modelElement" />
  <xsd:complexType name="NamedElementSchema" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>An element that has a unique name.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The well-known name of this item in this model.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: BaseId -->
        <xsd:attribute name="baseId" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The identifier of the inherited variability model.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: DisplayName -->
        <xsd:attribute name="displayName" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The name used for instances of this item, as seen by the user. Also used to name associated artifacts/configuration created for this item.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: IsDisplayNameTracking -->
        <xsd:attribute name="isDisplayNameTracking" type="xsd:boolean" >
          <xsd:annotation>
            <xsd:documentation>Used to track whether the user changed the display name manually.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Description -->
        <xsd:attribute name="description" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>The description of this item displayed to the user.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElementSchema Moniker -->
  <xsd:element name="namedElementSchemaMoniker" abstract="true" type="NamedElementSchemaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="NamedElementSchemaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for NamedElementSchema instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DesignElement -->
  <xsd:element name="designElement" abstract="true" type="DesignElement" substitutionGroup="namedElementSchema" />
  <xsd:complexType name="DesignElement" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>An element used for realization.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementSchema">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: DesignNotes -->
        <xsd:attribute name="designNotes" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Design notes for this element.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: IsIgnored -->
        <xsd:attribute name="isIgnored" type="xsd:boolean" >
          <xsd:annotation>
            <xsd:documentation>Whether to ignore this item. Ignored items will not be considered part of the current design.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DesignElement Moniker -->
  <xsd:element name="designElementMoniker" abstract="true" type="DesignElementMoniker" substitutionGroup="namedElementSchemaMoniker" />
  <xsd:complexType name="DesignElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DesignElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementSchemaMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProductionToolReferencesVariabilityRequirements -->
  <xsd:element name="productionToolReferencesVariabilityRequirements" type="ProductionToolReferencesVariabilityRequirements" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ProductionToolReferencesVariabilityRequirements">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end VariabilityRequirement -->
          <xsd:element ref="variabilityRequirementMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProductionToolReferencesVariabilityRequirements Moniker -->
  <xsd:element name="productionToolReferencesVariabilityRequirementsMoniker" type="ProductionToolReferencesVariabilityRequirementsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ProductionToolReferencesVariabilityRequirementsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ProductionToolReferencesVariabilityRequirements instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProductionToolProducesProducedAssets -->
  <xsd:element name="productionToolProducesProducedAssets" type="ProductionToolProducesProducedAssets" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ProductionToolProducesProducedAssets">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ProducedAsset -->
          <xsd:element ref="producedAssetMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProductionToolProducesProducedAssets Moniker -->
  <xsd:element name="productionToolProducesProducedAssetsMoniker" type="ProductionToolProducesProducedAssetsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ProductionToolProducesProducedAssetsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ProductionToolProducesProducedAssets instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProducedAssetSuppliesProductionTools -->
  <xsd:element name="producedAssetSuppliesProductionTools" type="ProducedAssetSuppliesProductionTools" substitutionGroup="assetSuppliesAllProducingTools" />
  <xsd:complexType name="ProducedAssetSuppliesProductionTools">
    <xsd:complexContent>
      <xsd:extension base="AssetSuppliesAllProducingTools">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ProducedAssetSuppliesProductionTools Moniker -->
  <xsd:element name="producedAssetSuppliesProductionToolsMoniker" type="ProducedAssetSuppliesProductionToolsMoniker" substitutionGroup="assetSuppliesAllProducingToolsMoniker" />
  <xsd:complexType name="ProducedAssetSuppliesProductionToolsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ProducedAssetSuppliesProductionTools instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AssetSuppliesAllProducingToolsMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SuppliedAssetCopiesToProducedAssets -->
  <xsd:element name="suppliedAssetCopiesToProducedAssets" type="SuppliedAssetCopiesToProducedAssets" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SuppliedAssetCopiesToProducedAssets">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ProducedAsset -->
          <xsd:element ref="producedAssetMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SuppliedAssetCopiesToProducedAssets Moniker -->
  <xsd:element name="suppliedAssetCopiesToProducedAssetsMoniker" type="SuppliedAssetCopiesToProducedAssetsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SuppliedAssetCopiesToProducedAssetsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SuppliedAssetCopiesToProducedAssets instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SuppliedAssetSuppliesProductionTools -->
  <xsd:element name="suppliedAssetSuppliesProductionTools" type="SuppliedAssetSuppliesProductionTools" substitutionGroup="assetSuppliesAllProducingTools" />
  <xsd:complexType name="SuppliedAssetSuppliesProductionTools">
    <xsd:complexContent>
      <xsd:extension base="AssetSuppliesAllProducingTools">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SuppliedAssetSuppliesProductionTools Moniker -->
  <xsd:element name="suppliedAssetSuppliesProductionToolsMoniker" type="SuppliedAssetSuppliesProductionToolsMoniker" substitutionGroup="assetSuppliesAllProducingToolsMoniker" />
  <xsd:complexType name="SuppliedAssetSuppliesProductionToolsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SuppliedAssetSuppliesProductionTools instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AssetSuppliesAllProducingToolsMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AssetSuppliesAllProducingTools -->
  <xsd:element name="assetSuppliesAllProducingTools" abstract="true" type="AssetSuppliesAllProducingTools" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AssetSuppliesAllProducingTools" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ProductionTool -->
          <xsd:element ref="productionToolMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AssetSuppliesAllProducingTools Moniker -->
  <xsd:element name="assetSuppliesAllProducingToolsMoniker" abstract="true" type="AssetSuppliesAllProducingToolsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AssetSuppliesAllProducingToolsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AssetSuppliesAllProducingTools instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DesignHasProductionTools -->
  <xsd:element name="designHasProductionTools" type="DesignHasProductionTools" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DesignHasProductionTools">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ProductionTool -->
          <xsd:element ref="productionTool" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DesignHasProductionTools Moniker -->
  <xsd:element name="designHasProductionToolsMoniker" type="DesignHasProductionToolsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DesignHasProductionToolsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DesignHasProductionTools instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DesignHasAssets -->
  <xsd:element name="designHasAssets" type="DesignHasAssets" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DesignHasAssets">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Asset -->
          <xsd:element ref="asset" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DesignHasAssets Moniker -->
  <xsd:element name="designHasAssetsMoniker" type="DesignHasAssetsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DesignHasAssetsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DesignHasAssets instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DesignHasVariabilityRequirements -->
  <xsd:element name="designHasVariabilityRequirements" type="DesignHasVariabilityRequirements" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DesignHasVariabilityRequirements">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end VariabilityRequirement -->
          <xsd:element ref="variabilityRequirement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DesignHasVariabilityRequirements Moniker -->
  <xsd:element name="designHasVariabilityRequirementsMoniker" type="DesignHasVariabilityRequirementsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DesignHasVariabilityRequirementsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DesignHasVariabilityRequirements instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ParentVariabilityRequirementHasParentVariabilityRequirements -->
  <xsd:element name="parentVariabilityRequirementHasParentVariabilityRequirements" type="ParentVariabilityRequirementHasParentVariabilityRequirements" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ParentVariabilityRequirementHasParentVariabilityRequirements">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end VariabilityRequirement -->
          <xsd:element ref="variabilityRequirement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ParentVariabilityRequirementHasParentVariabilityRequirements Moniker -->
  <xsd:element name="parentVariabilityRequirementHasParentVariabilityRequirementsMoniker" type="ParentVariabilityRequirementHasParentVariabilityRequirementsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ParentVariabilityRequirementHasParentVariabilityRequirementsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ParentVariabilityRequirementHasParentVariabilityRequirements instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

